@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Poppins', sans-serif;
}

@layer base {
  :root {
    --color-primary: 0deg 84% 60%;
    --color-secondary: 217deg 0% 100%;
    --color--primary-content: 217°, 19%, 27%;
    --color--secondary-content: 217deg 32.6% 17.5%;
    --color-ternary-content: 0deg 84% 60%;
    --color-accent: 220deg 13% 91%;
  }
  
  [data-theme="dark"] {
    --color-primary: 0deg 84% 60%;
    --color-secondary: 224deg 71% 4%;
    --color-primary-content: 220deg 13% 91%;
    --color--secondary-content: 217deg 32.6% 17.5%;
    --color-ternary-content: 0deg 84% 60%;
    --color-accent: 217deg 19% 27%;
  }
}
