@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Poppins', sans-serif;
}

@layer base {
  :root {
    --color-primary: 217deg 0% 100%;
    --color-secondary: 217deg 19% 27%;
    --color-ternary: 220deg 13% 91%;
    --color-accent: 0deg 84% 60%;
  }

  [data-theme="dark"] {
    --color-primary: 224deg 71% 4%;
    --color-secondary: 220deg 13% 91%;
    --color-ternary: 217deg 19% 27%;
    --color-accent: 0deg 84% 60%;
  }
}